## Dependencies

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## Reading data into data frames

In [2]:
w_happiness_clean_15 = 'Resources/Happiness_data_clean_2015.csv'
w_happiness_clean_16 = 'Resources/Happiness_data_clean_2016.csv'
w_happiness_clean_17 = 'Resources/Happiness_data_clean_2017.csv'

h15_df = pd.read_csv(w_happiness_clean_15)
h16_df = pd.read_csv(w_happiness_clean_16)
h17_df = pd.read_csv(w_happiness_clean_17)

h17_df.head()

,Country,2017_rank,2017_score,2017_GDP,2017_family,2017_life_expect,2017_freedom,2017_generosity,2017_corruption,2017_Dystopia
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

## Merging data

In [3]:
merged_1_df = pd.merge(h15_df, h16_df, how='outer', on='Country', suffixes=('_15', '_16'))

merged_2_df = pd.merge(merged_1_df, h17_df, how='outer', on='Country')
merged_2_df.head()

,Country,2015_rank,2015_score,2015_GDP,2015_family,2015_life_expect,2015_freedom,2015_corruption,2015_generosity,2015_Dystopia,...,2016_Dystopia,2017_rank,2017_score,2017_GDP,2017_family,2017_life_expect,2017_freedom,2017_generosity,2017_corruption,2017_Dystopia
0,Switzerland,1.0,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,...,2.69463,4.0,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
1,Iceland,2.0,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,...,2.83137,3.0,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
2,Denmark,3.0,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,...,2.73939,2.0,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
3,Norway,4.0,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,...,2.66465,1.0,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
4,Canada,5.0,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,...,2.70485,7.0,7.316,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372,2.187264

## 50 Shades Data

In [5]:
shades_grey = 'Resources/shadesgrey2015.csv'
shades_darker = 'Resources/shadesdarker2017.csv'

grey_df = pd.read_csv(shades_grey)
darker_df = pd.read_csv(shades_darker)

grey_df.head()

                                                                                           <<<<<<< HEAD
Market        Region                          Release Date Opening Day Sales ($USD)  Gross Sales ($USD)
United States North America                   2/13/15      85,171,450                       166,167,230
Austria       Europe, Middle East, and Africa 2/12/15      1,607,134                          5,397,769
Belgium       Europe, Middle East, and Africa 2/11/15      2,102,437                          5,792,486
Bulgaria      Europe, Middle East, and Africa 2/13/15      336,509                              837,393

In [ ]:
## Test Test Test