In [1]:
import pandas as pd
import numpy as np
import matplotlib as py
import csv

In [2]:
# read the air pollution file
air_death_df = pd.read_csv('../resources/7.8.20 UCSD Group Project Dataset - death-rates-from-air-pollution.csv')
# read the happiness files
happiness_2015_raw_df = pd.read_csv('../resources/2015_happiness_data.csv')
happiness_2016_raw_df = pd.read_csv('../resources/2016_happiness_data.csv')
happiness_2017_raw_df = pd.read_csv('../resources/2017_happiness_data.csv')

In [3]:
air_death_df = air_death_df.rename(columns={'Entity': 'Country'})
air_death_df

,Country,Code,Year,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)"
0,Afghanistan,AFG,1990,299.477309,250.362910,46.446589,5.616442
1,Afghanistan,AFG,1991,291.277967,242.575125,46.033841,5.603960
2,Afghanistan,AFG,1992,278.963056,232.043878,44.243766,5.611822
3,Afghanistan,AFG,1993,278.790815,231.648134,44.440148,5.655266
4,Afghanistan,AFG,1994,287.162923,238.837177,45.594328,5.718922
...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,143.850145,113.456097,27.589603,4.426291
6464,Zimbabwe,ZWE,2014,138.200536,108.703566,26.760618,4.296971
6465,Zimbabwe,ZWE,2015,132.752553,104.340506,25.715415,4.200907
6466,Zimbabwe,ZWE,2016,128.692138,100.392287,25.643570,4.117173
6467,Zimbabwe,ZWE,2017,125.028843,96.235996,26.166182,4.052495

In [4]:

# air_year = air_death_df.groupby(['Year'])
# air_year.mean()
# air_year.mean().shape
# test = air_year.drop(["1990"])

In [5]:
# Remove data from years 1990-2014
# first set the index by year
index_df = air_death_df.set_index('Year')
index_df

,Country,Code,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)"
Year,,,,,,
1990,Afghanistan,AFG,299.477309,250.362910,46.446589,5.616442
1991,Afghanistan,AFG,291.277967,242.575125,46.033841,5.603960
1992,Afghanistan,AFG,278.963056,232.043878,44.243766,5.611822
1993,Afghanistan,AFG,278.790815,231.648134,44.440148,5.655266
1994,Afghanistan,AFG,287.162923,238.837177,45.594328,5.718922
...,...,...,...,...,...,...
2013,Zimbabwe,ZWE,143.850145,113.456097,27.589603,4.426291
2014,Zimbabwe,ZWE,138.200536,108.703566,26.760618,4.296971
2015,Zimbabwe,ZWE,132.752553,104.340506,25.715415,4.200907
2016,Zimbabwe,ZWE,128.692138,100.392287,25.643570,4.117173
2017,Zimbabwe,ZWE,125.028843,96.235996,26.166182,4.052495

In [6]:
# Remove data from years 1990-2014
# use .drop() and set the range(1990, 2015)
clean_year_df = index_df.drop(range(1990, 2015), axis=0).drop(2017)
clean_year_df.shape # check the shape to see if rows were deleted
clean_year_df

,Country,Code,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)"
Year,,,,,,
2015,Afghanistan,AFG,191.801119,141.354238,47.334537,5.746082
2016,Afghanistan,AFG,186.668949,138.663543,44.826196,5.779466
2015,Albania,ALB,42.299773,19.163116,21.786089,1.806165
2016,Albania,ALB,41.018788,18.846585,20.810664,1.805548
2015,Algeria,DZA,44.362524,0.267657,42.547814,2.076489
...,...,...,...,...,...,...
2016,Yemen,YEM,97.024682,38.224856,56.743794,3.049671
2015,Zambia,ZMB,102.516626,78.073818,21.955596,4.056559
2016,Zambia,ZMB,100.566474,76.537725,21.534921,4.043370
2015,Zimbabwe,ZWE,132.752553,104.340506,25.715415,4.200907
2016,Zimbabwe,ZWE,128.692138,100.392287,25.643570,4.117173

In [7]:
clean_year_df.to_csv('air_pol_year_clean.csv')

In [8]:
clean_year_df['Country']

Year
2015    Afghanistan
2016    Afghanistan
2015        Albania
2016        Albania
2015        Algeria
           ...
2016          Yemen
2015         Zambia
2016         Zambia
2015       Zimbabwe
2016       Zimbabwe
Name: Country, Length: 462, dtype: object

In [15]:
df = clean_year_df.reset_index()
df

,Year,Country,Code,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)"
0,2015,Afghanistan,AFG,191.801119,141.354238,47.334537,5.746082
1,2016,Afghanistan,AFG,186.668949,138.663543,44.826196,5.779466
2,2015,Albania,ALB,42.299773,19.163116,21.786089,1.806165
3,2016,Albania,ALB,41.018788,18.846585,20.810664,1.805548
4,2015,Algeria,DZA,44.362524,0.267657,42.547814,2.076489
...,...,...,...,...,...,...,...
457,2016,Yemen,YEM,97.024682,38.224856,56.743794,3.049671
458,2015,Zambia,ZMB,102.516626,78.073818,21.955596,4.056559
459,2016,Zambia,ZMB,100.566474,76.537725,21.534921,4.043370
460,2015,Zimbabwe,ZWE,132.752553,104.340506,25.715415,4.200907
461,2016,Zimbabwe,ZWE,128.692138,100.392287,25.643570,4.117173

In [ ]:
#create one datafram with the columns: country, 2015 deaths, 2016 deaths.